@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
    -webkit-text-stroke: thin !important;
    -webkit-text-stroke-color: #140095 !important;
}

.section-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.section-animate.visible {
  opacity: 1;
  transform: translateY(0);
}